{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Classes & time table</h2>
            </div>
        </div>
        <div class="row text-light pt-5 pb-5">
            <div class="col-12 col-md-6">
                <p class="lead class-text fw-bolder text-uppercase text-center">Fitness boxing</p>
                <p class="fw-light">Do you wish to be in the best shape ever? 
                 And do you want to lose weight in almost no time?  
                 Are you looking for a exciting alternative to your usual training. Then Fitness boxing is for you!
                 <br> In our classes you will experience:
                 <ul class="list-unstyled fw-light">
                     <li><i class="fas fa-check me-2"></i>Motivated and inspiring trainers, who make you feel welcome</li>
                     <li><i class="fas fa-check me-2"></i>Fun and varied boxing training for all levels</li>
                     <li><i class="fas fa-check me-2"></i>Great team spirit</li>
                     <li><i class="fas fa-check me-2"></i>You will evolve your skills each training</li>
                     <li><i class="fas fa-check me-2"></i>Effective training with a high burning effect</li>
                 </ul>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img src="https://images.unsplash.com/photo-1611816153165-fed23698666d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="fitness boxing" width="500" height="auto">
            </div>
        </div>
        <div class="row text-light pt-5 pb-5">
            <div class="col-12 col-md-6">
                <img src="https://images.unsplash.com/photo-1585511543559-6c4d1f7d3da8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="thaiboxing" width="500" height="auto">
            </div>
            <div class="col-12 col-md-6">
                <p class="lead class-text fw-bolder text-uppercase text-center">Thaiboxing</p>
                <p class="fw-light">Are you up for a hard and exotic workout? And are you not afraid to use your whole body when you exercise? <br>
                    Then Thai boxing is the right choice.
                 <br> On the Thai boxing team you will:
                 <ul class="list-unstyled fw-light">
                     <li><i class="fas fa-check me-2"></i>Discover what it means to give it your max</li>
                     <li><i class="fas fa-check me-2"></i>Train with some of Denmark’s most talented Thai boxing coaches</li>
                     <li><i class="fas fa-check me-2"></i>Experience a team where the motivation and mood are top notch</li>
                     <li><i class="fas fa-check me-2"></i>Get better at punching, elbowing, kneeing and kicking</li>
                     <li><i class="fas fa-check me-2"></i>Burn many calories</li>
                 </ul>
                </p>
            </div>
        </div>
        <div class="row text-light pt-5 pb-5 text-center">
            <div class="col-12">
                <p class="pb-5 fw-light">Boxing Gym offers the following training classes during the weekdays and in the weekend. <br>
                    The door is open appr. 15 minutes prior to the first training class. The gym closes approx. 20-30 minutes after the last training of the day.
                </p>
                <table class="table">
                    <thead class="text-light">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody class="text-light">
                        <tr>
                            <th scope="row">10.00-11.30</th>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td colspan="-2">Thai</td>
                            <td>Fitness</td>
                          </tr>
                      <tr>
                        <th scope="row">16.30-18.00</th>
                        <td>Fitness</td>
                        <td>Fitness</td>
                        <td>Thai</td>
                        <td>Fitness</td>
                        <td>Thai</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">18.15-19.45</th>
                        <td>Thai</td>
                        <td>Thai</td>
                        <td>Fitness</td>
                        <td>Thai</td>
                        <td>Fitness</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}