{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Classes & time table</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="lead fw-bolder text-uppercase">Fitness boxing</p>
                <p>Do you wish to be in the best shape ever?
                 And do you want to lose weight in almost no time?  
                 Are you looking for a exciting alternative to your usual training. <br> Then Fitness boxing is for you.
                 <br> In our classes you will experience:
                 <ul class="list-unstyled">
                     <li>Motivated and inspiring trainers, who make you feel welcome</li>
                     <li>Fun and varied boxing training for all levels</li>
                     <li>Great team spirit</li>
                     <li>You will evolve your skills each training</li>
                     <li>Effective training with a high burning effect</li>
                 </ul>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img src="" alt="fitness boxing">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="" alt="thaiboxing">
            </div>
            <div class="col-12 col-md-6">
                <p class="lead fw-bolder text-uppercase">Thaiboxing</p>
                <p>Are you up for a hard and exotic workout? And are you not afraid to use your whole body when you exercise? <br>
                    Then Thai boxing is the right choice.
                 <br> On the Thai boxing team you will:
                 <ul class="list-unstyled">
                     <li>Discover what it means to give it your max</li>
                     <li>Train with some of Denmark’s most talented Thai boxing coaches</li>
                     <li>Experience a team where the motivation and mood are top notch</li>
                     <li>Get better at punching, elbowing, kneeing and kicking</li>
                     <li>Burn many calories</li>
                 </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Boxing Gym offers the following training classes during the weekdays and in the weekend. <br>
                    The door is open appr. 15 minutes prior to the first training class. The gym closes approx. 20-30 minutes after the last training of the day.
                </p>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">10.00-11.30</th>
                            <td>Fitness</td>
                            <td>Fitness</td>
                            <td>Thai</td>
                            <td>Fitness</td>
                            <td>Thai</td>
                            <td>#</td>
                            <td>#</td>
                          </tr>
                      <tr>
                        <th scope="row">16.30-18.00</th>
                        <td>Fitness</td>
                        <td>Fitness</td>
                        <td>Thai</td>
                        <td>Fitness</td>
                        <td>Thai</td>
                        <td>#</td>
                        <td>#</td>
                      </tr>
                      <tr>
                        <th scope="row">18.15-19.45</th>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}