{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-light">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row text-dark">
            <div class="col-12 col-md-6">
            <form class="signup" id="signup_form" method="post" action="{% url 'edit_product' product_id=product.id %}">
              {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="text" name="category" value="{{ product.category }}" class="form-control" id="floatingInput" aria-describedby="emailHelp" placeholder="Product category">
                </div>
                <div class="form-floating mb-3">
                  <input type="name" name="name" value="{{ product.name }}" class="form-control" id="floatingInput" aria-describedby="emailHelp" placeholder="Product name">
                </div>
                <div class="form-floating mb-3">
                    {% if product.image_link %}
                        <img class="card-img-top img-fluid" src="{{ product.image_link.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <input type="file" name="image_link" class="form-control" id="floatingInput" aria-describedby="emailHelp" placeholder="Product image">
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="sku" value="{{ product.sku }}" class="form-control" id="floatingInput" placeholder="Product code">
                </div>
                <div class="form-floating mb-3">
                  <input type="number" name="price" value="{{ product.price }}" class="form-control" id="floatingPassword" placeholder="Product price">
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="sizes" value="{{ product.sizes }}" class="form-control" id="floatingPassword" placeholder="Product sizes">
                </div>
                    <textarea rows="4" cols="20" name="description" class="form-control" id="floatingPassword" placeholder="Product description">{{ product.description }}</textarea><br>
                <div class="text-right">
                    <button type="submit" class="btn btn-info btn-sm">Update</button>
                    <a href="{% url 'products' %}"> <button type="button" class="btn btn-danger btn-sm">Cancel</button></a>
                </div>
            </form><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}