{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row pt-5">
        <div class="col">
          <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Become a member today</h2>
            <main>
              <div class="row row-cols-1 row-cols-md-3 mb-3 text-center pt-4">
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal text-uppercase">Fitness boxing</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">Eur50<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited Fitness boxing classes</li>
                        <li>Professional trainer consultation</li>
                        <li>Special member price in our shop</li>
                        <li>Free parking</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-plan text-uppercase">Choose plan</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card  mb-4 rounded-3 shadow-sm">
                    <div class="card-header  py-3">
                      <h4 class="my-0 fw-normal text-uppercase">Combo</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">Eur75<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Fitness boxing + Thaiboxing classes</li>
                        <li>Professional trainer consultation</li>
                        <li>Special member price in our shop</li>
                        <li>Free parking</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-combo text-uppercase">Choose plan</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal text-uppercase">Thaiboxing</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">Eur50<small class="text-muted fw-light">/mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Unlimited Thaiboxing classes</li>
                        <li>Professional trainer consultation</li>
                        <li>Special member price in our shop</li>
                        <li>Free parking</li>
                      </ul>
                      <button type="button" class="w-100 btn btn-lg btn-plan text-uppercase">Choose plan</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}