{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

    <div class="hero-image text-center">
      <div class="hero-text col-lg-6 mx-auto">
        <h1 class="pb-5 fw-bold text-uppercase text-light text-center">Your favourite boxing gym</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pb-4">
          <a href="{% url 'fitnessplans' %}" class="btn btn-outline-danger btn-lg px-4 gap-3 ">Join now</a>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{% url 'trial' %}" class="btn btn-outline-secondary btn-lg px-4 sign-up">Sign up for free Trial</a>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5 text-center text-light" id="featured-3">
      <h2 class="pb-4 text-uppercase">Our group training</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="feature col">
          <div class="feature-icon">
            <i class="fas fa-bullseye"></i>
          </div>
          <h2>Fitness boxing</h2>
          <p class="ps-4 fw-light">At the Boxing gym classes we use all the best from the boxing world.
            That is, punch combinations on mitts and bags, skipping and running. 
            Trainers are former or active fighters either as amateurs or professionals, therefore you will get the best prerequisites for the evolvement of your boxing skills.</p>
          <a href="{% url 'classes' %}" class="icon-link">
            Read more
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <i class="fas fa-bullseye"></i>
          </div>
          <h2>Thaiboxing</h2>
          <p class="ps-4 fw-light">Thai boxing is Thailand’s national sport and one of the toughest martial arts there is.
            This is because you have to use punches, kicks, elbows and knees, which give you the best posibilties for a fullbody workout. 
            In addition, it requires extra of your concentration due to the physical and technical aspect.</p>
          <a href="{% url 'classes' %}" class="icon-link">
            Read more
          </a>
        </div>
      </div>
    </div>


    <div class="album py-5">
      <div class="container-fluid">
        <h2 class="pb-5 text-uppercase text-center text-light">Gym facilities</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1 pt-5">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/1.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/10.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/7.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/9.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/11.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="media/4.jpg" alt="facilities image" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid px-4 py-5 text-light testimonials-image" id="featured-3">
      <h2 class="pb-5 pt-2 text-uppercase text-center">What our members say</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="feature col">
          <h5 class="member-name">Alex Luiz</h5>
          <p class="fw-light">&quotThis is a great place to better yourself!
            I come here and a month later i see results! 
            Very motivating environment and a motivating trainer! 
            Everyone here is very supportive of one another. 
            Love this place and always looking forward to the class!&quot</p>
        </div>
        <div class="feature col">
          <h5 class="member-name">Nikki VanOrden</h5>
          <p class="fw-light">&quotThe best gym I’ve ever been to. Working out here, I was able to transform my body and become stronger.&quot</p>
        </div>
      </div>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 ">
        <div class="feature col">
          <h5 class="member-name">Jennifer Kreifels</h5>
          <p class="fw-light">&quotLove this gym and the trainers!! The environment of a gym is a make it or break it for me and the atmosphere here is wonderful!&quot</p>
        </div>
        <div class="feature col">
          <h5 class="member-name">Peter Becker</h5>
          <p class="fw-light">&quotI've very lucky to have been and continue to be a part of this amazing gym which has become like a second home to me. <br>
            Ultimately it is a place that you get out what you put in and everyone that comes with an open mind and willingness to learn.&quot</p>
        </div>
      </div>
    </div>

    
    <div class="container d-none d-md-block col-md-6 px-4 py-5 text-center text-light">
      <h2 class="pb-2 pt-2 text-uppercase">About Boxing gym</h2>
      <div class="row py-5">
        <div class="col-12">
          <p class="lh-lg fw-light">Boxing Gym is a unique and original place that offers fitness boxing and thaiboxing.
            There is probably no other place like Boxing Gym in the whole world. As soon as you enter the door, you get caught and seized by the atmosphere.
            The premises are rustic and characterized by many years of workout. We are not afraid to call us unique. 
            Everyone is welcome.
            Even though you haven't boxed or trained before, you will be well received and we'll do our best to assist you with the exercises. <br>
            You participate entirely on your own terms and you set the pace and intensity of the training. <br>
            So, if you want to try something new, Boxing Gym is something for you.</p>
        </div>
      </div>
    </div>
{% endblock %}