{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-light">
            <div class="col text-center mt-3">
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Thank you for buying !</h2>
            </div>
            <a href="{% url 'classes' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">View classes</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}