{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Get a trial for free</h2>
                <p>Would you like to try our facilities or popular classes before making a commitment? <br>
                Get a trial for 0,-, Fill out the formular and we will send you all free trial information.
                </p>
                <main class="form-signin">
                    <form>
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                  
                      <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me"> Remember me
                        </label>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
                    </form>
                  </main>
            </div>
        </div>
        <div class="row pt-5 pb-5 text-light text-center">
            <div class="col-12">
              <p class="lead fw-bolder">Practical info about trial-session</p>
              <ul class="list-unstyled">
                <li>Come about 20-30 minutes before in order to get help with handwraps and any questions you may have.</li>
                <li>You can borrow handwraps and boxing gloves (or you can buy your own).</li>
                <li>Please bring a a towel (you may get a little sweaty).</li>
                <li>Please bring clothes for exercise and perhaps an extra T-shirt.</li>
                <li>Bring proper indoor footwear.</li>
                <li>Bring a bottle of water, alternatively you can always buy a cold one for kr. 10,-.</li>
              </ul>
            </div>
          </div>
    </div>
{% endblock %}