{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center" style="color: chartreuse">
                    {{ message }}
                </h2>
                <h2 class="pb-5 pt-5 text-uppercase text-light text-center">Get a trial for free</h2>
                <p class="text-center text-light">Would you like to try our facilities or classes before making a commitment? <br>
                Get a trial for 0,-. Fill out the formular and we will send you all free trial information.
                </p>
                <main class="form-signin">
                    <form action="{% url 'trial' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-floating mb-3">
                        <input type="name" name="name" class="form-control" id="floatingInput" placeholder="Name">
                        <label for="floatingInput">Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingPassword">Email address</label>
                      </div>
                  
                      <div class="checkbox mb-3 text-light">
                        <label>
                          <input type="checkbox" value="remember-me"> Agree to terms and conditions
                        </label>
                      </div>
                      <button type="submit" class="w-100 btn btn-lg btn-combo text-uppercase">Send</button>
                    </form>
                  </main>
            </div>
        </div>
        <div class="row pt-5 pb-5 text-light text-center">
            <div class="col-12">
              <p class="lead fw-bolder">Practical info about trial-session</p>
              <ul class="list-unstyled lh-lg fw-light">
                <li><i class="fas fa-check me-2"></i> Come about 20-30 minutes before in order to get help with handwraps and any questions you may have.</li>
                <li><i class="fas fa-check me-2"></i>Bring a bottle of water, alternatively you can always buy a cold one for kr. 10,-.</li>
                <li><i class="fas fa-check me-2"></i>You can borrow handwraps and boxing gloves (or you can buy your own).</li>
                <li><i class="fas fa-check me-2"></i>Please bring clothes for exercise and perhaps an extra T-shirt.</li>
                <li><i class="fas fa-check me-2"></i>Please bring a a towel (you may get a little sweaty).</li>
                <li><i class="fas fa-check me-2"></i>Bring proper indoor footwear.</li>
              </ul>
            </div>
          </div>
    </div>
{% endblock %}